<h1 class="pink-text text-accent-1">Welcome To Goober</h1>
<h2 class="pink-text text-accent-1">It's like Uber but called Goober</h2>
<p class="center"><%= image_tag('car.png')%></p>

<div class="row">
  <div class="center">
    <%= link_to "Rider", new_rider_path, class:"waves-effect pink accent-1 btn
    home" %>
    <%= link_to "Driver", new_driver_path, class:"waves-effect pink accent-1 btn home" %>
  </div>
</div>
