<h1>Rider Dashboard</h1>
<% if @active_ride == nil %>
  <h2 class="center"><%= link_to 'Request a Ride', new_ride_path %></h2>
<% else %>
  <%= render "current_ride", locals: { active_ride: @active_ride } %>
<% end %>
<div class="row">
  <div class="col s10 offset-s1">
    <% if @completed.count != 0 %>
      <%= render "shared/completed", locals: { completed: @completed } %>
    <% end %>
  </div>
</div>
